@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

body{
  background-color:#1c2864;
  font-family: 'Source Sans Pro', sans-serif;
}

h1, h2{
  font-family: 'Source Sans Pro', sans-serif;
}
