.show-image-desc{
  background-color: rgb(251, 245, 233);
  display: flex;
  justify-content: space-between;
  border-radius: 50px;
}

.show-image-desc > img {
  width: 120%;
  height: auto;
  border-top-left-radius: 50px;
  border-bottom-left-radius:50px;
}

.show-image-desc > .text {
  margin-left: 10px;
}

.planet-show{
  color: black;
}

.planet-title {
  color: rgb(251, 245, 233);
  font-size: 60px;
}

.booking-ref{
  color: black;
}

.showpage {
  color: black  ;
}
