<div class="container">
<br>
  <h1 style="color:white;"><strong>My Bookings</strong></h1>
  <ul>
  <% @bookings.each do |b| %>
  <div class="booking-ref">
    <li><%= b.planet.name %><%= b.planet.address %></li>
    <p><%= b.checkin %><%= b.checkout %></p>
    <% end %>
  </div>
  </ul>
</div>
