<div class="container">
  <h1><strong>My Bookings</strong></h1>
  <ul>
  <% @bookings.each do |b| %>
  <li><%= link_to b.planet.name%><%= b.planet.address %></li>
  <p><%= b.checkin %> to <%= b.checkout %></p>
  <% end %>
  </ul>
</div>
