<div class="container">
  <h1><strong>My Bookings</strong></h1>
  <ul>
  <% @bookings.each do |b| %>
  <li><%= b.planet.name %><%= b.planet.address %></li>
  <p><%= b.checkin %><%= b.checkout %></p>
  <% end %>
  </ul>
</div>
