
<div class="planet-cards m-5">
  <% @planets.each do |p| %>
  <div class='planet-card'>
    <% if p.photo.attached? %>
        <%= cl_image_tag(p.photo.key)%>
      <% end %>

    <div class="planet-card-infos">
      <div>
        <h2> <%= link_to p.name, planet_path(p.id) %> </h2>
        <p> <%= p.description %> </p>
      </div>
      <h2 class="planet-card-pricing">£ <%= p.price %> </h2>
    </div>
  </div>
  <% end %>
</div>
