<div class="container">
<h1><strong>All Planets</strong></h1>
<ul>
<% @planets.each do |p| %>
<li><%= link_to p.name, planet_path(p.id) %></li>
<% end %>
</ul>
<h5><%= link_to "Post a new Planet", new_planet_path %></h5>
</div>
