

<div class="whole">
  <video autoplay muted loop class="banner">
    <source src="https://giant.gfycat.com/DifferentGiftedCoyote.mp4" type="video/mp4">
  </video>
  <div class="banner">
      <h1 class="name-banner">PLAN BNB</h1>
      <p class="name-banner">Experience of Planet</p>
  </div>
</div>




<div class="planet-cards m-5">
  <% @planets.shuffle.each do |p| %>
  <div class='planet-card' onclick="this.querySelector('a').click(); return true;">
    <% if p.photo.attached? %>
        <%= cl_image_tag(p.photo.key)%>
      <% end %>

    <div class="planet-card-infos">
      <div>
        <h2> <%= link_to p.name, planet_path(p.id), class: "planetname" %> </h2>
      </div>
      <h2 class="planet-card-pricing">£ <%= p.price %> </h2>
    </div>
  </div>
<% end %>
</div>
