

@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

#videowrapper {
  position: relative;
  overflow: hidden;
  top: -78px;
}

#fullScreenDiv {
  min-height: 100%;
  height: 100vh;
  width: 100vw;
  padding: 0!important;
  margin: 0!important;
  background-color: gray;
  position: relative;
}

#video {
  height: 812px;
  width: auto;
  margin-left: 50vw;
  transform: translate(-50%);
}

#videoMessage {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.styling h1 {
  font-size: 105px;;
  font-family: 'Russo One', sans-serif;
  letter-spacing: 15px;
  text-shadow: 2px 2px 2px #000000;
}

.styling h2 {
  font-size:  1.6em;
  font-family: 'Montserrat', sans-serif;;
  letter-spacing: 5px;
}

.styling * {
  margin: 0.2em;
  text-align: center;
  color: #ffffff;
}

body{
  font-family: 'Montserrat', sans-serif;;
  letter-spacing: 1px;
}
