.navbar-lewagon {
  justify-content: space-between;
  background: #243483d9;
  backdrop-filter: blur(6px);
  color: white;
  position: -webkit-sticky;
	position: sticky;
	top: 10px;
  padding: 5px;
  width:1300px;
  z-index: 999;
  margin: 0 auto;
  border-radius: 50px;
}

.nav-link{
  color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  border-radius: 50%;
}
